+ $\int_{0}^{80} 0.0008s^2\text{d}x$.

In [6]:
import numpy as np
import pandas as pd
import math

In [12]:
fnc={'f1':lambda x: 0.8*x**2}

In [8]:
def montecarlo(f,a,b,N):
    u=np.random.uniform(a,b,N)
    return (b-a)*np.mean(f(u))

In [13]:
N=np.logspace(1,5,5)
N=N.astype(int)
a=0
b=80
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
tabla

                   f1
10       98974.049698
100     130066.805992
1000    138898.707142
10000   139467.327342
100000  137098.838381