+ $\int_{0}^{12} 14110.68x^{2} \text{d}x$. 

---

+ $\int_{0}^{12} 4150199.918x^2\text{d}x$.

In [42]:
import numpy as np
import pandas as pd
import math

In [114]:
fnc={'f1':lambda x: (14110.68)*x**2}

In [44]:
def montecarlo(f,a,b,N):
    u=np.random.uniform(a,b,N)
    return (b-a)*np.mean(f(u))

In [123]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=12
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
tabla

                   f1
10       6.132897e+06
100      8.072888e+06
1000     8.056079e+06
10000    8.085022e+06
100000   8.053751e+06
1000000  8.112879e+06

In [124]:
montecarlo(f,a,b,1000000)/15000

542.7577267877812

In [125]:
fnc={'f2':lambda x: 4150199.918*x**2}

In [127]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=12
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
tabla

                   f2
10       2.274617e+09
100      2.200724e+09
1000     2.351101e+09
10000    2.397932e+09
100000   2.393244e+09
1000000  2.391552e+09

In [129]:
montecarlo(f,a,b,1000000)/15000

159156.9631933943