+ $\int_{0}^{2} 6s^2\text{d}x$.
+ $\int_{0}^{2} 10s^2\text{d}x$.

In [14]:
import numpy as np
import pandas as pd
import math

In [15]:
fnc={'f1':lambda x: 6*x**2}

In [35]:
def montecarlo(f,a,b,N):
    u=np.random.uniform(a,b,N)
    return (b-a)*np.mean(f(u))

In [32]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=2
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
        tabla['Error']=16-montecarlo(f,a,b,i)
tabla

                f1     Error
10       23.604385  0.026907
100      17.616867  0.026907
1000     15.845901  0.026907
10000    16.035608  0.026907
100000   15.950476  0.026907
1000000  16.001397  0.026907

In [34]:
fnc={'f2':lambda x: 10*x**2}

In [36]:
N=np.logspace(1,6,6)
N=N.astype(int)
a=0
b=2
tabla=pd.DataFrame(index=N)
for k,f in fnc.items():
    for i in N:
        tabla.loc[i,k]=montecarlo(f,a,b,i)
        tabla['Error']=16-montecarlo(f,a,b,i)
tabla

                f2      Error
10       25.369489 -10.615946
100      22.411100 -10.615946
1000     26.310833 -10.615946
10000    26.686702 -10.615946
100000   26.629949 -10.615946
1000000  26.669691 -10.615946